th{
border:1px solid red;
}
.th_col1{
width:170px;

}
.th_col2{
width:170px;
}
.th_col3{
width:230px;
}
.th_col4{
width:100px;
}
.th_col5{
width:100px;
}
.th_col6{
width:100px;
}
.th_col7{
width:140px;
}
.th_col8{
width:100px;
}
.th_col9{
width:100px;
}
#catalogue{
	margin-top:15px;
	table-layout:fixed;
	width:900px;
	clear:both;
}
tr.row_selected td{
background-color:yellow;
}
.dialog{
display:none;
}
#catalogue td{
padding-left:3px;
}
